* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ED1C24;
    --secondary-color: #262262;
    --light-color: #fff;
    --dark-color: #000000;
    --font-bangla: 'Hind Siliguri', sans-serif;
    --font-english: 'Poppins', sans-serif;
    --box-shadow: 0px 2px 10px 2px #d9d9d9;
}

h2.section-title {
    font-size: 41px;
    font-family: var(--font-bangla);
    color: var(--secondary-color);
    font-weight: 700;
    text-align: center;
    padding: 3rem 0;
    font-weight: 700;
}

.section-subtitle {
    font-family: var(--font-bangla);
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 2rem;
}


/*=== header css ===*/
#header {
    background-color: var(--secondary-color);
    color: var(--light-color);
    text-align: center;
    font-family: var(--font-bangla);
}

.navbar {
    -webkit-transition: all ease-in-out 0.4s;
    -moz-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}

.fa-search {
    color: var(--light-color);
    font-size: 20px;
}

.nav-item>.nav-link {
    color: var(--light-color);
    font-weight: 500;
    font-size: 16px;
    font-family: var(--font-english);
}

.nav_menus>li>a,
.search_icon>i {
    color: var(--dark-color) !important;
}


/*=== offcanvas ===*/
#offcanvasRight {
    background-color: var(--secondary-color);
    color: var(--light-color);
    width: 300px;
    text-align: left;
}

.btn-close {
    color: var(--light-color) !important;
    font-size: 20px;
}

/*=== on scroll shrink nav ===*/
.shrink-nav {
    color: var(--dark-color) !important;
    top: 0px;
    background-color: var(--light-color) !important;
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 2px 0;
    box-shadow: 0px 0px 10px 2px #0000003d;
    height: 5rem;
}

.shrink-nav .navbar-nav>li>a {
    color: var(--dark-color) !important;
    line-height: 24px !important;
}

.shrink-nav .fa-search {
    color: var(--dark-color) !important;
}

/*=== banner css ===*/
.banner {
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: left;
    padding-bottom: 5rem;
    overflow: hidden;
}

.title {
    font-size: 50px;
    font-family: var(--font-bangla);
    color: var(--light-color);
    font-weight: 700;
}

.banner-images {
    padding-left: 4rem;
    position: relative;
    width: 100%;
    background: orange;
}

.banner-img {
    position: absolute;
}

.banner-img.img-3 {
    right: 2rem;
    top: 11rem;
}

.banner-img.img-2 {
    right: 5rem;
}

.banner-img.img-1 {
    right: 16rem;
}

.banner-img.img-4 {
    right: 14rem;
    top: 19rem;
}

/*=== our active courses ===*/

.category_box {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.box_control {
    list-style: none;
    box-shadow: var(--box-shadow);
    padding: 0.7rem 1.2rem;
    border-radius: 50px;
    font-family: var(--font-english);
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_control:hover {
    border: 2px solid var(--secondary-color);
    background-color: #26226212;
    color: var(--secondary-color);
}

.card-body {
    padding-bottom: 2rem;
}

.course-box.card {
    box-shadow: var(--box-shadow);
    border-radius: 12px;
    overflow: hidden;
    font-family: var(--font-english);
    border: none;
}

.card-title {
    font-weight: 700;
    font-size: 23px;
    color: var(--secondary-color);
}

.enroll {
    background: var(--secondary-color);
    color: var(--light-color);
    text-decoration: none;
    padding: .6rem 1.5rem;
    border-radius: 50px;
    font-family: var(--font-english);
}

.mixitup-control-active {
    border: 2px solid var(--secondary-color);
    background-color: #26226212;
    color: var(--secondary-color);
}

/*=== our dream css ===*/

.dream-title {
    text-align: left !important;
    font-size: 2rem !important;
    border-bottom: 2px solid var(--secondary-color);
    width: 13rem;
    padding-bottom: 1rem !important;
    margin-bottom: 1.5rem;
}

.description {
    font-size: 14px;
    font-family: var(--font-bangla);
    font-weight: 450;
    color: var(--dark-color);
}

/*=== featured courses css ===*/
#featured-courses {
    padding: 10rem 0;
}

.featured-card {
    border: none;
    box-shadow: 3px 3px 8px 0px black;
    font-family: var(--font-english);
    border-radius: 10px;
}

.card-title {
    font-family: var(--font-english);
    margin-top: 12px;
    padding-bottom: 12px;
}

.icon {
    color: #43bdff;
    font-size: 1.3rem;
}

.featured-left-title.text-white {
    font-weight: 600;
    font-family: var(--font-english);
}

.course-title {
    font-weight: 700;
    font-size: 2.3rem;
}

.featured-right {
    padding-left: 1rem;
    font-family: var(--font-english);
    color: white;
}

.featured-right-content>ul>li {
    list-style: none;
    margin-left: -23px;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 2rem;
}

.featured-right-content>ul>li>i {
    color: #43bdff;
    font-size: .7rem;
}

/*=== seminar css ===*/
.sm-title {
    text-align: left !important;
    padding: 0px !important;
}

.seminar-subtitle {
    font-size: 18px;
    font-weight: 600;
    font-family: var(--font-english);
}

.seminar-day {
    display: flex;
    gap: 1rem;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    margin-bottom: 2.5rem;
}

.date {
    display: flex;
    flex-direction: column;
    background: #262262;
    color: white;
    padding: 1rem;
    line-height: 1;
    text-align: left;
    border-radius: 20px;
    padding-right: 3rem;
}

.day {
    font-size: 3.5rem;
    font-weight: 700;
    font-family: var(--font-english);
}

.month {
    font-size: 1.2rem;
    font-family: var(--font-english);
    font-weight: 500;
}

.seminar-title {
    font-weight: 600;
    font-family: var(--font-english);
    font-size: 1.3rem;
}

.seminar-time {
    font-family: var(--font-english);
    font-size: 18px;
    font-weight: 500;
}

.enroll.seminar-btn {
    border-radius: 15px !important;
    padding: .7rem 2rem;
    font-size: 1.5rem;
    font-weight: 600;
}

/*=== join as instructor css ===*/

.teacher-content {
    color: #fff;
    width: 93%;
    padding: 2rem 0;
}

.section-title.text-left.teacher-title {
    padding: 0;
    text-align: left;
    color: #fff;
    font-style: italic;
}

.instructor_inner {
    padding: 0rem 2rem;
    display: flex;
    border-radius: 15px;
    position: relative;
}

.teacher-img {
    margin-top: -89px;
}

.teacher-img>img {
    width: 42rem;
}

/*=== why choose css ===*/

.section-title.text-left.whyus-title {
    padding: 1rem 0;
    font-size: 35px;
}

.whyus-content {
    text-align: center;
    padding-bottom: 3rem;
}

.whyus-description {
    margin-bottom: 2rem;
    font-family: var(--font-bangla);
    font-weight: 600;
}

.enroll.whyus-btn {
    background: none;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    font-family: var(--font-bangla);
    font-weight: 500;
}

.whyus-text {
    font-family: var(--font-bangla);
}

.whyus-title {
    font-weight: 700;
}

.whyus-des {
    font-weight: 600;
    font-size: 14px !important;
}

/*=== FAQ's css ===*/

#accordionFlushExample {
    border: 1px solid black;
    font-family: var(--font-bangla);
    color: var(--dark-color) !important;
}

.accordion-item {
    border-bottom: 1px solid black;
}

.accordion-button {
    background: transparent !important;
    border-bottom: 1px solid black;
    outline: none !important;
    font-size: 21px;
    font-weight: 600;
    padding: 1.5rem 1.5rem;
    color: var(--dark-color) !important;
    box-shadow: none !important;
}

.accordion-body {
    font-weight: 600;
    color: var(--dark-color) !important;
}

.accordion-button:focus {
    outline: none !important;
}

.collapsed {
    border-bottom: 1px;
}

/*=== footer css ===*/
#footer {
    background: var(--secondary-color);
    color: var(--light-color);
}

.footer-single {
    padding: 0.5rem;
    font-family: var(--font-bangla);
    font-weight: 500;
    font-size: 14px;
}

.footer-logo {
    margin-bottom: .7rem;
}

.f_content {
    font-family: var(--font-english);
    font-size: 14px;
    font-weight: 400;
}

.social-media>ul {
    display: flex;
    gap: 2rem;
    padding-left: 0;
}

.social-media>ul>li {
    list-style: none;
}

.social-media>ul>li>a {
    color: var(--light-color);
}

.f_title {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 20px;
}

.f_menus>ul>li {
    list-style: none;
    margin-left: -30px;
}

.f_menus>ul>li>a {
    color: var(--light-color);
    text-decoration: none;
    line-height: 30px;
    transition: all .2s linear;
    position: relative;
}

.f_menus>ul>li>a:hover {
    color: rgb(155, 155, 155);
}

.f_menus>ul>li>a::before {
    content: "";
    background: white;
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all .2s linear;
}

.f_menus>ul>li>a:hover::before {
    width: 100%;
}

/*=== courses page css ===*/

.latest_content.content_right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.course_card {
    border-radius: 20px;
}

.latest_content.content_left {
    color: var(--light-color);
    font-family: var(--font-bangla);
}

.latest_subtitle {
    font-size: 2.5rem;
    font-weight: 700;
}

.latest_title {
    font-size: 4rem;
    font-weight: 900;
}

.after_title {
    font-size: 2.7rem;
    font-weight: 100;
}

.btn.enroll.latest-btn {
    background: #F5A608;
    font-size: 25px;
    font-weight: 900;
    padding: .6rem 2rem;
    color: var(--dark-color);
    margin-top: 1rem;
}

.active_course_title {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 3rem;
}

.active_img {
    width: 35px;
}

.active_title {
    font-size: 2rem;
    font-family: var(--font-bangla);
    font-weight: 800;
    color: var(--dark-color);
    padding-top: 3px;
}

.course-section-title {
    font-family: var(--font-english);
    font-weight: 700;
    font-size: 1.7rem;
    color: var(--secondary-color);
    margin-bottom: 1.5rem;
}

.connect-icon>ul>li {
    list-style: none;
    width: 2rem;
    height: 2rem;
    background: var(--secondary-color);
    border-radius: 50%;
}

.connect-icon>ul {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.connect-icon>ul>li>a {
    background: var(--secondary-color);
    color: var(--light-color);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
}

.connect-description {
    font-family: var(--font-bangla);
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

/*=== course details page css ===*/

.subtitle {
    font-family: var(--font-bangla);
    font-weight: 800;
    font-size: 30px;
}

.title.details_title {
    color: var(--secondary-color);
    font-size: 36px;
    line-height: 4rem;
}

.description.details_description {
    font-size: 22px;
}

.video_title {
    color: var(--secondary-color);
    font-family: var(--font-english);
    font-weight: 800;
    line-height: 5rem;
    font-size: 34px;
}

.course_details_video {
    width: 54rem;
    margin: 0 auto;
    border-radius: 15px;
    overflow: hidden;
}


.enroll.buy_btn {
    border-radius: 8px !important;
    font-size: 22px;
    font-weight: 600;
    margin-top: 1.2rem;
}

.description.topic_description {
    font-size: 17px;
    text-align: center;
    font-weight: 400;
    line-height: 1.9rem;
    margin-bottom: 4rem;
}

.subtitle.next_title {
    color: var(--secondary-color);
    margin-bottom: 2rem;
}

.next_img {
    width: 4rem;
}

.next_single_title {
    font-family: var(--font-bangla);
    font-size: 30px;
    font-weight: 800;
    margin-top: 1rem;
}

.next-description {
    font-family: var(--font-bangla);
    font-weight: 500;
    font-size: 20px;
}

.single_next {
    padding: 1rem;
}

.mentor-details {
    font-family: var(--font-bangla);
}

.mentor-img {
    border-radius: 20px;
    overflow: hidden;
    width: 24rem;
    float: right;
}

.why_wrapper {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.9;
}

.single_next.why_course_single {
    background: white;
    padding: 2rem;
    border-radius: 15px;
}

.title.module_title {
    color: var(--secondary-color);
    font-size: 30px;
    font-weight: 900;
}

.subtitle.module_sub {
    font-weight: 500;
    font-size: 25px;
    line-height: 4rem;
}

.description.module_description {
    font-size: 19px;
}

.mark {
    background: rgb(255, 208, 0);
    padding: 0.2rem .3rem;
    border-radius: 5px;
    color: var(--dark-color);
    font-weight: 600;
}

.title.guide_title {
    color: var(--dark-color);
}

#enroll_section {
    background: var(--secondary-color);
    padding: 1rem;
    /* position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99; */
}

.enroll_des {
    color: var(--light-color);
    font-size: 22px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.enroll.enroll_btn {
    background: var(--light-color);
    color: var(--secondary-color);
    font-weight: bold;
    border-radius: 8px;
    margin-left: 2rem;

}

#details_main {
    position: relative;
    overflow: hidden;
}

.coupon_q {
    font-size: 20px;
    font-family: var(--font-english);
}

.coupon_link {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 500;
    cursor: pointer;
}

.coupon_link:hover {
    text-decoration: underline;
}

.coupon_btn {
    width: 200px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: var(--secondary-color);
    outline: none;
    box-shadow: none;
    font-family: var(--font-english);
    border: 0;
}

.coupon_input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none;
}

.coupon_input:focus {
    box-shadow: none;
    outline: none;
    border-right: none;
}

.checkout_inner {
    font-family: var(--font-english);
    padding: 1rem;
}

.check_in {
    border: 1px solid var(--secondary-color);
    box-shadow: none;
    padding: .8rem 1rem;
}

.check_in:focus {
    box-shadow: none;
    border-color: var(--secondary-color);
}

.checkout_title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 2rem;
}

.checkout_item {
    list-style: none;
    font-size: 16px;
    border-bottom: 1px dashed var(--secondary-color);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.checkout_list>ul {
    padding: 0;
}

.checkout_content>h5 {
    font-size: 17px;
}

.checkout_price>h5 {
    font-size: 17px;
}

.checkout_price h4 {
    font-size: 18px;
}

.checkout_img h5 {
    font-size: 18px;
    font-weight: 600;
    color: var(--secondary-color);
}

.checkout_total h4 {
    font-size: 18px;
}

.payment_title:before {
    content: "";
    position: absolute;
    background: var(--light-color);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 4px solid var(--secondary-color);
    left: -20px;
    top: 2px;
}

.payment_title {
    position: relative;
    left: 15px;
    font-weight: 700;
}

.pay_contents {
    background: #d9d9d9;
    margin-top: 1rem;
    padding: .8rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    z-index: 9;
}

.pay_contents:before {
    position: absolute;
    content: "";
    border: 1rem solid #d9d9d9;
    border-top-color: transparent;
    border-right-color: transparent;
    top: 53px;
    transform: rotate(135deg);
    left: 56px;
    z-index: 1;
}

.policy_text {
    font-size: 12px;
    padding: 1rem;
}

/*=== course auth view css ===*/

.view_left_content_head_rating>.fa-star {
    color: orange;
}

.view_left_content_head_rating {
    font-family: var(--font-english);
}

.view_left_content_head>h2 {
    font-family: var(--font-english);
    font-size: 30px;
    color: var(--secondary-color);
    font-weight: 600;
}

.instructor_info>img {
    border-radius: 50%;
}

.instructor_info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.tab_item {
    color: var(--dark-color) !important;
    border: 0 !important;
}

.tab_item:focus {
    border: 0 !important;
    border-bottom: 2px solid var(--secondary-color) !important;
}

.tab_item.active {
    background: none !important;
    border: 0 !important;
    border-bottom: 2px solid var(--secondary-color) !important;
    color: var(--secondary-color) !important;
}

.view_left_content {
    font-family: var(--font-bangla);
}

.about_course>h4 {
    font-weight: 600;
    margin-bottom: 2rem;
}

.learn_what>h4 {
    color: var(--dark-color);
    font-weight: 600;
    line-height: 5rem;
}

.course_content>h4 {
    font-weight: 600;
    color: var(--dark-color);
    line-height: 4rem;
}

.course_btn {
    font-size: 20px;
    padding: 1rem 1rem;
    border-bottom: 1px solid #d9d9d9 !important;
}

.course_btn:hover {
    color: var(--secondary-color) !important;
}

.course_btn:not(.collapsed) {
    color: var(--secondary-color) !important;
    background: #26226211 !important;
}

.video_item {
    background: #f4f4f4;
    margin-bottom: 1rem;
    border: 1px solid #d9d9d9 !important;
    border-radius: 5px !important;
}

.instructor_info>h4 {
    font-size: 1.4rem;
    font-family: var(--font-english);
    font-weight: 600;
    color: var(--dark-color);
}

.view_content.content_right {
    margin-top: 8.75rem;
}

.c_button {
    color: var(--dark-color);
    text-decoration: none;
    font-family: var(--font-english);
    font-weight: 400;
    font-size: 16px;
    margin-left: 2rem;
}

.right_top_cont {
    margin-bottom: 2rem;
    display: flex;
    justify-content: end;
}

.info_first {
    font-family: var(--font-english);
    padding: 2rem;
  }
  .info_first.addi_first{
    background: #f4f4f4;
  }
  .info_title {
    font-size: 1.35rem;
    color: var(--dark-color);
    font-weight: 600;
  }

  .enroll.learn_continue {
    border-radius: 10px;
    width: 100% !important;
    display: inherit;
    text-align: center;
  }
  .progress {
    margin-bottom: 2rem;
    height: 4px;
    background: #d2d2d2;
  }
  .enroll_time {
    margin-top: 2rem;
  }
  .progress-bar {
    background: var(--secondary-color);
  }
  .right_p, .left_p {
    font-weight: 500;
    font-size: 14px;
  }
.material_list {
    padding-left: 1rem;
    font-family: var(--font-bangla);
  }
  .material_list>li>a {
    text-decoration: none;
    color: var(--dark-color);
    font-weight: 500;
  }
  
/*=== dashboard css ===*/

.user_img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: rgb(235, 235, 235);
  }
  .user_infos {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #c6c6c6;
    align-items: center;
    font-family: var(--font-english);
  }
  .user_details {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .user_greet {
    font-size: 25px;
    font-weight: 500;
  }
  .user_name {
    font-weight: 700;
  }
  .notification_icon {
    width: 50px;
    height: 50px;
    background: #dbdbdb;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 50%;
    color: var(--secondary-color);
    position: relative;
  }
  .noti_count {
    position: absolute;
    top: 4px;
    background: #ed1c24;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-radius: 50%;
    left: 24px;
    color: var(--light-color);
  }
  
.dashboard_sidebar>ul>li>a {
    text-decoration: none;
    padding: 10px 15px 10px 17px;
    width: 100%;
    margin-bottom: 5px;
    color: var(--dark-color);
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .dashboard_sidebar>ul>li {
    list-style: none;
  }
  .dashboard_sidebar>ul {
    padding-left: 0;
  }
  .dashboard_sidebar {
    padding-top: 1.2rem;
  }
  #dashboard_inner {
    font-family: var(--font-english);
  }
  .dashboard_sidebar>ul>li>a>i {
    font-size: 22px;
    color: var(--secondary-color);
  }
  .active {
    background: var(--secondary-color);
    color: white !important;
  }
  .active>i {
    color: white !important;
  }
  
.dashboard_content {
    border-left: 1px solid #c6c6c6;
    padding: 2rem;
  }
  .dash-title {
    font-size: 20px;
    color: var(--dark-color);
    margin-bottom: 2rem;
  }
  
.dash_card {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px 10px;
  }
  .dash_card_body {
    padding: 1rem 0rem;
  }
  .dash_card_icon {
    color: var(--secondary-color);
    background: #e6e6e6;
    width: 60px;
    height: 60px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border-radius: 50%;
    margin-bottom: .6rem;
  }
  .dash_card_title {
    margin-bottom: 0;
    font-weight: 500;
  }
  .dash_card_value {
    font-size: 30px;
    margin-bottom: 0;
    font-weight: 700;
    color: var(--dark-color);
  }